* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  max-width: 680px;
  margin: 0 auto;
  font-size: 42px;
  line-height: 1.65;
  text-align: center;
}

ol {
  text-align: left;
}

body.blog {
  max-width: 1024px;
}

h2,
h3,
h4 {
  margin-top: 1.5em;
}

a {
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  border-bottom: 1px solid white;
}

p {
  text-align: center;
  font-size: 16px;
}

ul li {
  list-style: none;
}

main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.img-me {
  width: 100px;
}

h1 {
  font-size: 24px;
}

.social-icon {
  width: 45px;
  margin-right: 10px;
}

.social-icon_github {
  width: 39px;
  position: relative;
  top: -5px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quote {
  opacity: 0;
}

.author {
  display: none;
}

@media screen and (min-width: 600px) {
  .img-me {
    width: 200px;
  }
  h1 {
    font-size: 42px;
    margin-bottom: 5px;
  }
  .social-icon {
    width: 55px;
    margin-right: 10px;
  }

  .social-icon_github {
    width: 45px;
    position: relative;
    top: -6px;
  }

  .quote {
    font-family: cursive;
    font-size: 30px;
    padding: 0 20px;
    text-align: left;
    opacity: 0;
    animation: fadein 6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-top: 20px;
  }

  .author {
    font-size: 20px;
    text-align: right;
    display: block;
    margin-right: 40px;
    opacity: 0;
    animation: fadein 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    font-family: monospace;
  }
}
